html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #eee;
    margin-bottom: 60px; // footer height
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #C8C8C8;
}

.footer-container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.footer-container .text-muted {
    margin: 20px 0;
}
.footer-text {
    margin-left: 1em;
    margin-right: 1em;
}

.page-flags {
    margin: 0 auto;
}
.flash-success {
    background: #80ff80;
    color: #008000;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.flash-error {
    background: #ff6666;
    color: #990000;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}
