.search-form {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.search-form-heading {
    margin-bottom: 10px;
}
.search-form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.search-form .form-control:focus {
    z-index: 2;
}
